.App {
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.title {
  margin-left: 30px;
  margin-right: auto;
}
.userProfile {
  margin-left: auto;
  margin-right: 30px;
}
.carInfo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.carOperation {
  margin-left: auto;
  margin-right: 30px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
